.container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  margin-top: 5rem;
}
.container-perfil h1 {
  font-size: 3rem;
  padding: 0 1.5rem;
  font-weight: 600;
}
.container-perfil h2 {
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: center;
  font-weight: 600;
}
.container-perfil img {
  width: 15rem;
  box-shadow: 40px -15px #f5f5f5;
  margin-top: 3rem;
}
