@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0F1C2E;
  font-family: "Source Code Pro", monospace;
}
a{
  list-style: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald", sans-serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 2.5px;
}

//colors
.text-color{
  color: #D3D3D3 ;
}
.title-Color{
  color: #F5F5F5;
}

//Flex
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
